---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css'
import { getLanguageAlternatives, useI18n } from '../i18n/utils'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
  description: string
  image?: string
  article?: boolean
}

const { tp, t } = useI18n(Astro.url)

const languageAlternatives = Astro.site
  ? getLanguageAlternatives(Astro.url, Astro.site)
  : []
const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const {
  title,
  description,
  image = '/blog-placeholder.jpg',
  article,
} = Astro.props
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />
{
  languageAlternatives.map(({ hrefLang, href }) => {
    return <link rel="alternate" hreflang={hrefLang} href={href} />
  })
}

<link rel="author" href="/humans.txt" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="sitemap" href="/sitemap.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={t('site.title')}
  href={new URL(`${tp('/')}rss.xml`, Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={article ? 'article' : 'website'} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:wght@200..800&display=swap"
  rel="stylesheet"
/>

<ClientRouter />
<!-- Google tag (gtag.js) -->
<script
  async
  src=`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.PUBLIC_GTAG_ID}`
></script>
<script src="./gtag.ts"></script>
